@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P";
  margin: 0;
  background: url("./assets/img/background.png") no-repeat center top fixed;
  background-size: cover;
  overflow: hidden;
}
